@import "tailwindcss";

@theme {
  --color-slate-800: #1e293b;
  --color-slate-900: #0f172a;
  --color-indigo-600: #4f46e5;
  --color-indigo-700: #4338ca;
  --color-orange-500: #f97316;
  --color-emerald-500: #10b981;
}

body {
  @apply bg-gray-50 text-slate-900;
}